*{
	text-align: justify;
}
section{
	background-image: url('profile.png');
}
.logostyle{
	width: 40px;
}
#navbarid li a{
	text-align: center;
}

#navbarid li img{
  height: 35px;
  width: 35px;
   border-radius: 50px;
}
.page-footer{
	margin-top: 15px; 
}
.page-footer li a{
	color: white;
}
.page-footer li a:hover{
	color: white;
}
.media{
	display: flex;
	justify-content: center;
	align-items: center;
}
.media a{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #f5f6fa;
	text-align: center;
	margin: 10px;
	box-shadow: 1px 4px 2px 2px #dcdde1;
	line-height: 120px;
}
.media a i{
	transition: all 0.3s linear;
}
.media a:hover i{
	transform: scale(1.4);
}
.fa-github{
	color: black;
}
.fa-linkedin{
	color:  #2B60DE;
}
.fa-facebook{
	color: blue;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color:#555;
  color: white;
  text-align: center;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.chatbox {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  height:350px;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color:#d9534f;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #d9534f;
}
